/* Fuentes */
@font-face {
    font-family: 'MontserratBold';
    src: url(Montserrat-SemiBold.ttf);
}

/* Estilos generales para pantallas pequeñas */
/* Datos generales de la página */

html, body {
    height: 100%; 
    margin: 0;
}

.indexBody{
    min-height: 100%; 
    display: flex; 
    flex-direction: column; 
    background: linear-gradient(to bottom, #0c101d, #222d4d) fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
}


.indexSection, h1{
    margin: 60px;
    margin-bottom: 20px;
    font-family: 'MontserratBold';
    color: #f2ddcc;
    font-size: 35px;
    word-wrap: break-word;
    text-align: center;
}

.indexSection, h2{
    margin: 60px;
    margin-bottom: 20px;
    font-family: 'MontserratBold';
    color: #f2ddcc;
    font-size: 30px;
    word-wrap: break-word;
    text-align: center;
}

.indexSection{
    margin: auto;
    width: 100%;
    justify-content: left;
    margin-bottom: 2%;
}

.grid-container {
    width: 100%;
    justify-content: center;
    display: flex; 
    gap: 20px; /* Espacio entre columnas */
    align-items: stretch; 
}

.grid-item-left {
    aspect-ratio: 1/1; /* Mantiene la relación de aspecto cuadrada */
    width: 20%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: rgba(255, 255, 255, 0.1);
    color: #f2ddcc; 
    font-family: 'MontserratBold'; 
    text-align: left; 
    border-radius: 50px;
    height: auto; /* Ajusta automáticamente según el contenido */
    min-height: 0; /* Permite que el contenido se expanda */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.grid-item-right {
    width: 20%; 
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    color: #f2ddcc; 
    font-family: 'MontserratBold'; 
    text-align: left; 
    border-radius: 50px;
    height: auto; /* Ajusta automáticamente según el contenido */
    min-height: 0; /* Permite que el contenido se expanda */
}

.grid-item-right .sub-item2 {
    flex: 1; /* Permite que ambos sub-elementos ocupen el mismo espacio */
    display: flex;
    margin-bottom: 2.5%;
    justify-content: center; /* Centra el contenido dentro de cada sub-elemento */
    align-items: center; /* Centra verticalmente el contenido */
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo para distinguir */
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.grid-item-right .sub-item {
    margin-top: 2.5%;
    flex: 1; /* Permite que ambos sub-elementos ocupen el mismo espacio */
    display: flex;
    justify-content: center; /* Centra el contenido dentro de cada sub-elemento */
    align-items: center; /* Centra verticalmente el contenido */
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo para distinguir */
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.grid-item-right .sub-item p {
    text-wrap: wrap;
    display: flex;
    align-self: flex-end;
    width: 40%;
   margin-top: auto;
   font-size: 1vw;
}

.grid-item-right .sub-item2 p {
    text-wrap: wrap;
    display: flex;
    align-self: flex-end;
    width: 40%;
   margin-top: auto;
   font-size: 1vw;
}


.grid-item-right img.leftImg { 
    margin-left: 10px;
    width: 40%; 
    height: auto;
     aspect-ratio: 1 / 1; /* Mantiene la relación de aspecto 1:1 */ 
     border-radius: 30px; 
}

.grid-item-left p, .grid-item-right p {
    margin: 5%;
    font-size: 1.5vw; /* Ajuste dinámico basado en el tamaño de la ventana */
    line-height: 1.4; /* Mejorar la legibilidad */
    max-width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal;
    flex-grow: 1; /* Permite que el párrafo se expanda según la altura disponible */
}

.bigImg {
    margin-top: 2%;
    width: 95%;
    align-self: center;
    aspect-ratio: 1 / 0,5625; 
    background-color: #3498db; 
    border-radius: 40px;
}

#qrCode img{
    aspect-ratio: 1/1;
    width: 90%;
    margin: auto;
    border-radius: 40px;
}

#qrCode{
    display: none;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 20%;
    height: auto;
    background-color: #222d4d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media (max-width: 768px) {
    .grid-container {
        flex-direction: row; /* Mantiene las columnas en paralelo */
        justify-content: center; /* Centra las columnas en el contenedor */
        gap: 10px;
    }

    .grid-item-left, .grid-item-right {
        width: 45%; 
        border-radius: 30px;
    }

    .grid-item-left p, .grid-item-right p {
        font-size: 3vw; /* Ajuste más pequeño para pantallas pequeñas */
    }

    .bigImg {
        border-radius: 30px;
    }

    
.grid-item-right img.leftImg { 
    margin-left: 5px;
    width: 40%; 
    height: auto;
     aspect-ratio: 1 / 1; /* Mantiene la relación de aspecto 1:1 */ 
     border-radius: 15px; 
}

    .grid-item-right .sub-item2 {
        border-radius: 20px; /* Bordes redondeados */
    }
    
    .grid-item-right .sub-item {
        border-radius: 20px; /* Bordes redondeados */
        margin-top: 2%;
    }
    
    .grid-item-right .sub-item p {
        text-wrap: wrap;
        display: flex;
        align-self: flex-end;
        width: 40%;
       margin-top: auto;
       font-size: 3vw;
    }
    
    .grid-item-right .sub-item2 p {
        text-wrap: wrap;
        display: flex;
        align-self: flex-end;
        width: 40%;
       margin-top: auto;
       font-size: 3vw;
    }
    #qrCode {
    width: 90%;
    }
    
    #qrCode img{
        aspect-ratio: 1/1;
        width: 90%;
        margin: auto;
        border-radius: 40px;
    }
}

/*======================================
=======CALCULADORA DE HIDRATOS==============
======================================*/
.carboCalculatorBody {
    min-height: 100%; 
    background: linear-gradient(to bottom, #0c101d, #222d4d) fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
}



.carboCalculatorBody button {
    aspect-ratio: 1920/720;
    width: 5%;
    margin: 1%;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #f2ddcc;
    font-family: 'MontserratBold';
    border: 2px solid #0c101d;
    transition: border 0.3s ease-in-out;
}

.carboCalculatorContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carboCalculatorContainer div {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-items: center;
    padding: 20px;
}

.carboCalculatorContainer h1 {
    margin: 10px;
    margin-bottom: 20px;
    font-family: 'MontserratBold';
    color: #f2ddcc;
    font-size: 25px;
    word-wrap: break-word;
    text-align: center;
}

.carboCalculatorContainer p {
    font-family: 'MontserratBold';
    color: #f2ddcc;
    text-align: center;
}

.carboCalculatorContainer input{
    width: 10%; /* Aumenta el ancho del input */
    padding: 15px; /* Ajusta el padding */
    background-color: rgba(255, 255, 255, 0.1);
    color: #f2ddcc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 12px;
    font-size: 18px; 
    box-sizing: border-box;
    border: solid 2px ;
    border-color: rgba(255, 255, 255, 0.1);
    transition: border-color 0.3s ease-in-out, width 0.3s ease-in-out;
    text-align: center;
}

/* Estilos para el input cuando está enfocado */
.carboCalculatorContainer input:focus {
    border-color:  #f2ddcc;
    outline: none; 
    width: 25%;
}

#calculatePortionsButton{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 15%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: border-color 0.3s ease-in-out;
}

#calculatePortionsButton:hover{
    border-color: #f2ddcc;
}

.carboCalculatorBody button:hover{
    border: 1px solid #f2ddcc;
}



@media (max-width: 768px) {
    .carboCalculatorContainer div {
        width: 85%;
    }
    .carboCalculatorContainer input{
        width: 25%; /* Aumenta el ancho del input */
    }
    .carboCalculatorContainer input:focus {
        width: 50%;
    }
    #calculatePortionsButton{
        aspect-ratio: 1920/1080;
        width: 35%;
        height: auto;
        font-size: 1.5vh;
        word-wrap: normal;
    }
    .carboCalculatorBody button {
        width: 25%;
        border-radius: 10px;
    }
}