/* Fuentes */
@font-face {
    font-family: 'MontserratBold';
    src: url(Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'MontserratMedium';
    src: url(Montserrat-Medium.ttf);
}

/*Diseño Clásico*/
html, body {
    height: 100%; 
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body{
    background: linear-gradient(to bottom, #0c101d, #222d4d) fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classicH1{
    text-align: center;
    font-family: 'MontserratBold';
    color: #f2ddcc;
    margin-left: 10px;
    margin-right: 10px;
}

.classicH2{
    text-align: center;
    font-family: 'MontserratBold';
    color: #f2ddcc;
    margin-left: 10px;
    margin-right: 10px;
}

.classicH3{
    text-align: center;
    font-family: 'MontserratBold';
    color: #f2ddcc;
    margin-left: 10px;
    margin-right: 10px;
}

.classicDiv{
    background-color: rgba(255, 255, 255, 0.1);
    width: 80%;
    border-radius: 5vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.classicParagraph{
    color: #f2ddcc;
    font-family: 'MontserratBold';
    text-align: center;
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
}

.classicInput{
    width: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 1vw;
    font-size: 1.5vw;
    text-align: center;
    color: #f2ddcc;
    font-family: 'MontserratMedium';
    transition: ease-in-out 0.25s;
    outline: none;
}

.classicInput:focus{
    width: 25%;
    border-color: #f2ddcc;
}

.classicButton{
    margin-top: 10px;
    aspect-ratio: 1920/500;
    width: 15%;
    border: solid 2px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: #f2ddcc;
    font-family: 'MontserratBold';
    border-radius: 1.5vh;
    transition: ease-in-out 0.25s;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.classicButton:hover{
    border-color: #f2ddcc;
}

.classicTable{
    width: 50%;
    text-align: center;
    font-size: 1.25vw;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 10px;

}

.classicTable thead{
    background-color: #222d4d;
    color: #f2ddcc;
    font-family: 'MontserratBold';
    
}

.classicLabel {
    color: #f2ddcc;
    font-family: 'MontserratMedium';
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
}

.classicSelect{
    width: 90%;
    text-align: center;
    font-size: 1vw;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #f2ddcc;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'MontserratMedium';
}

.classicSelect option{
    color: #0c101d;
    font-family: 'MontserratBold';
}

.classicTable tbody{
    background-color: #0c101d;
    color: #f2ddcc;
    font-family: 'MontserratMedium';
}

.classicTable td{
    border: solid 2px rgba(255, 255, 255, 0.1);
}

.classicList{
    color: #f2ddcc;
    font-family: 'MontserratMedium';
    margin-right: 10px;
    margin-left: 10px;
}

.classicCheckbox{
    margin: 10px;
    appearance: none;
    background-color: #222d4d;
    color: #f2ddcc;
    border: solid 2px rgba(255, 255, 255, 0.1);
    width: 2vw;
    height: 2vw;
    border-radius: 10px;
    position: relative;
    transition: ease-in-out 0.15s;
}

.classicCheckbox:checked{
    background-color: #f2ddcc;
}


@media (max-width: 768px) {
    .classicInput{
        font-size: 7vw;
        width: 20%;
        border-radius: 3.5vw;
    }
    .classicInput:focus{
        width: 90%;
    }

    .classicButton{
        aspect-ratio: 1920/720;
        width: 30%;
    }
    .classicDiv{
        width: 95%;
    }
    .classicTable{
        width: 90%;
        font-size: 4vw;
    }
    .classicSelect{
        font-size: 4vw;
    }
    .classicCheckbox{
        width: 5vw;
        height: 5vw;
        border-radius: 5px;
    }
}

/*Pantalla de Inicio*/

.indexSection, h1{
    margin: 60px;
    margin-bottom: 20px;
    font-family: 'MontserratBold';
    color: #f2ddcc;
    font-size: 35px;
    word-wrap: break-word;
    text-align: center;
}

.indexSection, h2{
    margin: 60px;
    margin-bottom: 20px;
    font-family: 'MontserratBold';
    color: #f2ddcc;
    font-size: 30px;
    word-wrap: break-word;
    text-align: center;
}

.indexSection{
    margin: auto;
    width: 100%;
    justify-content: left;
    margin-bottom: 2%;
}

.grid-container {
    width: 100%;
    justify-content: center;
    display: flex; 
    gap: 20px; /* Espacio entre columnas */
    align-items: stretch; 
}

.grid-item-left {
    aspect-ratio: 1/1; /* Mantiene la relación de aspecto cuadrada */
    width: 20%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: rgba(255, 255, 255, 0.1);
    color: #f2ddcc; 
    font-family: 'MontserratBold'; 
    text-align: left; 
    border-radius: 50px;
    height: auto; /* Ajusta automáticamente según el contenido */
    min-height: 0; /* Permite que el contenido se expanda */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.grid-item-right {
    width: 20%; 
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    color: #f2ddcc; 
    font-family: 'MontserratBold'; 
    text-align: left; 
    border-radius: 50px;
    height: auto; /* Ajusta automáticamente según el contenido */
    min-height: 0; /* Permite que el contenido se expanda */
}

.grid-item-right .sub-item2 {
    flex: 1; /* Permite que ambos sub-elementos ocupen el mismo espacio */
    display: flex;
    margin-bottom: 2.5%;
    justify-content: center; /* Centra el contenido dentro de cada sub-elemento */
    align-items: center; /* Centra verticalmente el contenido */
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo para distinguir */
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.grid-item-right .sub-item {
    margin-top: 2.5%;
    flex: 1; /* Permite que ambos sub-elementos ocupen el mismo espacio */
    display: flex;
    justify-content: center; /* Centra el contenido dentro de cada sub-elemento */
    align-items: center; /* Centra verticalmente el contenido */
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo para distinguir */
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.grid-item-right .sub-item p {
    text-wrap: wrap;
    display: flex;
    align-self: flex-end;
    width: 40%;
   margin-top: auto;
   font-size: 1vw;
}

.grid-item-right .sub-item2 p {
    text-wrap: wrap;
    display: flex;
    align-self: flex-end;
    width: 40%;
   margin-top: auto;
   font-size: 1vw;
}


.grid-item-right img.leftImg { 
    margin-left: 10px;
    width: 40%; 
    height: auto;
     aspect-ratio: 1 / 1; /* Mantiene la relación de aspecto 1:1 */ 
     border-radius: 30px; 
}

.grid-item-left p, .grid-item-right p {
    margin: 5%;
    font-size: 1.5vw; /* Ajuste dinámico basado en el tamaño de la ventana */
    line-height: 1.4; /* Mejorar la legibilidad */
    max-width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal;
    flex-grow: 1; /* Permite que el párrafo se expanda según la altura disponible */
}

.bigImg {
    margin-top: 2%;
    width: 95%;
    align-self: center;
    aspect-ratio: 1 / 0,5625; 
    background-color: #3498db; 
    border-radius: 40px;
}

#qrCode img{
    aspect-ratio: 1/1;
    width: 90%;
    margin: auto;
    border-radius: 40px;
}

#qrCode{
    display: none;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 20%;
    height: auto;
    background-color: #222d4d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media (max-width: 768px) {
    .grid-container {
        flex-direction: row; /* Mantiene las columnas en paralelo */
        justify-content: center; /* Centra las columnas en el contenedor */
        gap: 10px;
    }

    .grid-item-left, .grid-item-right {
        width: 45%; 
        border-radius: 30px;
    }

    .grid-item-left p, .grid-item-right p {
        font-size: 3vw; /* Ajuste más pequeño para pantallas pequeñas */
    }

    .bigImg {
        border-radius: 30px;
    }

    
.grid-item-right img.leftImg { 
    margin-left: 5px;
    width: 40%; 
    height: auto;
     aspect-ratio: 1 / 1; /* Mantiene la relación de aspecto 1:1 */ 
     border-radius: 15px; 
}

    .grid-item-right .sub-item2 {
        border-radius: 20px; /* Bordes redondeados */
    }
    
    .grid-item-right .sub-item {
        border-radius: 20px; /* Bordes redondeados */
        margin-top: 2%;
    }
    
    .grid-item-right .sub-item p {
        text-wrap: wrap;
        display: flex;
        align-self: flex-end;
        width: 40%;
       margin-top: auto;
       font-size: 3vw;
    }
    
    .grid-item-right .sub-item2 p {
        text-wrap: wrap;
        display: flex;
        align-self: flex-end;
        width: 40%;
       margin-top: auto;
       font-size: 3vw;
    }
    #qrCode {
    width: 90%;
    }
    
    #qrCode img{
        aspect-ratio: 1/1;
        width: 90%;
        margin: auto;
        border-radius: 40px;
    }
}





